body {
  overflow: hidden;
}
.vhyvelogo__parent {
  margin-left: 0.5em;
  margin-top: 0.5em;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 10;
  @media only screen and (orientation: landscape) {
    text-align: left;
  }
}
#controlcontainer {
  transition: height 0.25s;
  height: 0em;
  background-color: #ffffff25;
  overflow: hidden;
  &.open {
    //height: 5em;
    height: auto;
  }
}

#mapwindow {
  transition: 0.25s;
  opacity: 0;
  z-index: 5;
  &.active {
    opacity: 1;
  }
}
